div.couple-photo {
  display:    block;
  overflow-y: clip;

  width: auto;

  border: 2px solid black;
}

div.couple-photo-container {
  margin-left:   auto;
  margin-right:  auto;
  margin-bottom: 2em;

  box-sizing: border-box;

  width: fit-content;

  padding: 2.5%;

  border: 1px solid #999;

  box-shadow: 0.75em 0.75em 1.25em #666;
}

.couple-photo img {
  display:    block;
  max-width:  40vw;
}
