.detail-where-when {
  display: inline-grid;
  grid-template-columns: 1fr 2fr;

  margin-top: 1rem;
  margin-bottom: 1rem;

  max-width: 40rem;
}

.detail-where-when + p {
  margin-top: 0;
}

.detail-label {
  font-weight: bold;
  font-variant-caps: small-caps;
}

.detail-label {
  margin-bottom: 1em;
}

.detail-content {
  margin-bottom: 1em;
}
