/* See:
 * https://stackoverflow.com/questions/11799236/should-i-use-px-or-rem-value-units-in-my-css
 */

:root {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;

  font-size:   1.6rem;
  font-family: Barlow Condensed;
}

div#root {
  display: inline-grid;

  margin-left: auto;
  margin-right: auto;

  width: 60rem;

  grid-template-columns: 1fr;
}

h1 + p {
  margin-top: 0;
}

.big-text {
  font-size: 3rem;
}

.centered {
  margin-left:  auto;
  margin-right: auto;
  text-align:   center;
}

.google-map {
  margin-top: 2.5rem;
}

p {
  text-align:   justify;
  text-justify: auto;
  line-height:  2.5rem;

  margin-top:    0.5rem;
  margin-bottom: 0.5rem;
}

p > div .names {
  line-height: normal;
}

.names-amp {
  font-size: 0.5em;
}
