body {
  display: flex;
  justify-content: center;

  font-family: Barlow Condensed;
}

div#root {
  display: inline-grid;

  margin-left: auto;
  margin-right: auto;

  width: 40em;
  max-width: 80%;

  grid-template-columns: 1fr;
}

h1 + p {
  margin-top: 0em;
}

p {
  text-align:   justify;
  text-justify: auto;
  line-height:  1.75em;

  margin-top:    0.5em;
  margin-bottom: 0.5em;
}

p > span.names {
  line-height: normal;
}
